@font-face {
    // font-family: caveat;
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

// swaldL,oswaldB,robotomono,teko,yanoneB,yanoneM

@font-face{
    font-family: oswaldL;
    src:url(../../fonts/Oswald-Light.ttf)
}

@font-face{
    font-family:oswaldB;
    src:url(../../fonts/Oswald-SemiBold.ttf)
}

@font-face{
    font-family:robotomono;
    src:url(../../fonts/RobotoMono-Medium.ttf)
}

@font-face {
    font-family: teko;
    src: url(../../fonts/Teko-Regular.ttf);
}

@font-face {
    font-family: yanoneB;
    src: url(../../fonts/YanoneKaffeesatz-Bold.ttf);
}

@font-face {
    font-family: yanoneM;
    src: url(../../fonts/YanoneKaffeesatz-Medium.ttf);
}