// Colors
// $clr1: #ce2e6c;
// $clr2: #4f3a65;
// $clr3: #574f7d;
// $clr4: #95adbe;
// $clr5: #dff0ea;
// $clr6: #fff;
// $clr7: #222;

$clr1:#EEF1EF;
$clr2:#A9B4C2;
$clr3:#5E6572;
$clr4:#7D98A1;
$clr5:#1C2321;
$clr6: #fff;
$clr7: #222;
$main:#2D3142;
$secondary:#4F5D75;
$third:#BFC0C0;
$clrWhite:#FFFFFF;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;